$color1 : #ff314c;
$color2 : #FF3366;
$color3 : #BA265D;

// $bp-1200: 75em;
// $bp-1000: 62.5em;
// $bp-900: 56.25em;
// $bp-800: 50em;
// $bp-600: 37.5em;
// $bp-450: 28.13em;
// $bp-360: 22.5em;

// // GRID
// $grid-width: 100%;
// $gutter-vertical: 2rem; //rows in between space
// $gutter-vertical-small: .5rem; //fields space when collapsed
// $gutter-horizontal: 2rem; // fields in between space 